body {
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
}

.seashellColor {
    color: seashell;
}

.blackBackground {
    background-color: black;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
}

#justifyContentSpaceBetween {
    justify-content: space-between;
}

.fullWidth {
    width: 100%;
}

.flexDisplay {
    display: flex;
}

.logo {
    height: 50px;
    padding: 10px;
}

header a {
    text-decoration: underline;
    padding: 0 10px;
}

#sixtyNinePadding {
    padding: 69px;
}

.justifyContentCenter {
    justify-content: center;
}

#heroImage {
    background-image: url('./img-mission-background.jpg');
    width: 1200px;
    height: 700px;
}

.alignItemsCenter {
    align-items: center;
}

.alignTextCenter {
    text-align: center;
}

.justifyContentSpaceAround {
    justify-content: space-around;
}

#thousandWidth {
    width: 1000px;
}

.threeHundredWidth {
    width: 300px;
}

.tenTopMargin {
    margin-top: 10px;
}

#sixFiftyWidth {
    width: 650px;
}

#locationsImage {
    background-image: url('./img-locations-background.jpg');
    width: 1200px;
    height: 500px;
    flex-direction: column;
}

#fifteenBottomMargin {
    margin-bottom: 15px;
}

#thousandTwentyWidth {
    width: 1020px;
}

.locationBox {
    height: 250px;
    margin: 0 20px;
    opacity: 1;
}

#twoHundredTall {
    height: 200px;
}

#twentyLeftMargin {
    margin-left: 20px;
}